name: Build 123pan.py

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        architecture: 'x64'

    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip
      
    - name: Install dependencies
      run: |
        python -m pip install -r requirements.txt
      
    - name: Build with PyInstaller
      run: |
        python -m PyInstaller --onefile --windowed --icon=icon.ico --clean --exclude-module=PyQt5.QtWebEngine 123pan.py
      
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: 123pan-executable
        path: dist/
        if-no-files-found: error
